<?xml version="1.0" encoding="UTF-8"?> 
%package{xmlns:'http://www.idpf.org/2007/opf', version:'3.0', 'unique-identifier' => 'uuid-id'}
  %metadata{'xmlns:dc' => 'http://purl.org/dc/elements/1.1/'}
    %dc:identifier{id:'uuid-id'}= "urn:uuid:" + metadata[:uid]
    %meta{property:'dcterms:modified'}= Time.now.utc.strftime("%FT%TZ")

    - metadata.each_pair do |key, value|
      - next if [:uid].include? key
      - haml_tag "dc:#{key.to_s}", value


  -#The manifest element provides an exhaustive list of the 'publication resources' (i.e. files) that constitute the publication
  %manifest
    %item{id:'cover', href:'content/cover.xhtml', 'media-type' => 'application/xhtml+xml'}
    %item{id:'nav', href:'navigation/nav.xhtml', properties:'nav', 'media-type' => 'application/xhtml+xml'}
    - (content_documents+media_resources).each do |doc|
      %item{id:doc.epub_id, href:doc.epub_path, 'media-type' => doc.media_type}

  
  -#The spine element defines the default reading order of the publication
  %spine
    %itemref{idref:'cover'}
    %itemref{idref:'nav'}
    - content_documents.each do |doc|
      %itemref{idref:doc.epub_id}

  -# DEPRECATED: The guide element identifies fundamental structural components of the publication.
  -# (Replaced by landmarks nav.)
  %guide
    %reference{type:'cover', title:"Cover", href:'content/cover.xhtml'}
    %reference{type:'toc', title:"Table of Contents", href:'navigation/nav.xhtml#toc'}
    - if toc_sections.any?
      %reference{type:'text', title:"Start of Content", href:toc_sections.first[:href]}